<%- include('partials/header') %>

<div class="container" style="text-align: center;">
    <h1 data-aos="fade-up">Credits</h1>
    <div class="card" data-aos="zoom-in">
        <p>Original Design: <strong>Memes69ha</strong></p>
        <p>V2 Development: <strong>Shadownite133</strong></p>
        <p>Hosting: <strong>Inari Hosting</strong></p>
    </div>
</div>

<%- include('partials/footer') %>